[href] {
	background: pink;
}

[href^="#"] {
	background: blue;
}

[href^="https"] {
	background: #84e;
	border: 3px solid rgba(245, 8, 8, 0.6);
}

[target="_blank"] {
	background: #FB1C61;
	border-radius: 15px 2px 3px ;
	-webkit-border-radius: 15px 2px 3px ;
	-moz-border-radius: 15px 2px 3px ;
	-ms-border-radius: 15px 2px 3px ;
	-o-border-radius: 15px 2px 3px ;
}


div {
	max-width: 300px;
	margin: 20px auto;
	
}

[href] {
	display: block;
	text-decoration: none;
	font-size: 1.2em;
	line-height: 1.2;
	font-family: monospace;
	margin-bottom: 5px;
	padding: 20px;
	color: white;
}
container{
text-align: center;
}
button{
background-attachment: fixed;
background: #069;
font-size: 32px;
padding:8px 20px;
cursor:pointer;
border: 0;

}